.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.banner {
    margin-top: 90px;
    justify-content: space-around;
}

.banner-first, .banner-second, .banner-third {
    user-select: none;
    flex-direction: column;
    align-items: flex-start;
}

#hero .banner-button {
    width: 20vw;
    margin-bottom: 5vw;
}

#hero .desc-img {
    max-width: 100%;
    max-height: 300px;
}

.banner-button .second-btn {
    margin-left: 1vw;
}

.banner-button > button {
    margin-top: 2rem;
    width: 10rem;
    height: 4rem;
    border-width: 0;
    background-color: #ff2929;
    color: #fff;
    border-radius: 10px;
    font-size: 1.6rem;
}

.ay-product {
    width: 90%;
    max-width: 1920px;
    margin: auto;
}

.ay-product p {
    font-weight: 500;
}

.desc {
    flex-wrap: wrap;
    width: 100%;
}

.ay-product .banner-button {
    align-self: flex-start;
    margin-bottom: 4vw;
}

.product-info {
    cursor: pointer;
}

.ay-product .desc .right .dfzs{
    width: 80%;
}

.ay-product .desc .right .why-choose-1{
    width: 100%;
}

.ay-product .left .desc-img {
    max-width: 100%;
}

.ay-product .right .desc-img {
    max-width: 100%;
}

.ay-product .bottom .desc-img{
    width: 100%;
}

@media screen and (min-width: 960px) {
    .left, .right {
        flex: 1;
    }

    .left {
        margin-left: 10%;
    }

    .right {
        justify-content: space-around;
    }

    .left, .right {
        min-width: 300px;
    }

    .ay-product .desc-img{
        width: 40%;
    }

    .ay-product > .banner-button {
        padding-left: 10vw;
    }

    .ay-product .desc .right .why-choose-1{
        width: 58%;
    }

    .ay-product .right .desc-img {
        max-width: 40%;
    }
}

@media only screen and (max-width: 960px) {
    #hero .banner-button {
        width: 60vw;
    }


    .banner-button .second-btn {
        margin-left: 5vw;
    }

    .banner-first, .banner-second, .banner-third, #hero .desc-img {
        max-width: 85%;
    }

    .ay-product .desc .right .dfzs {
        width: 100%;
    }
}
