/* --- 二维码 ---*/
#qrcode {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

#qrcode img {
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: aqua;
    left: 50%;
    top: 50%;
    transform: translate(-100px, -100px);
    z-index: 101;
}

/* --- flex ---*/

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

/* --- banner ---*/

.banner {
    padding: 0 10%;
    justify-content: space-around;
    width: 100%;
    height: 460px;
}

.banner-first {
    background-color: #f50048;
}

.banner-second {
    background-color: #ff4f0a;
}

.banner-third {
    background-color: #158dfe;
}

.banner-first, .banner-second, .banner-third {
    user-select: none;
}

.banner-first img, .banner-second img, .banner-third img {
    margin-bottom: 10px;
    width: 400px;
}

.banner-desc {
    width: 50%;
    align-items: flex-start;
}

.banner-desc span {
    font-size: 20px;
    color: #ffffff;
}

.banner-desc span:first-child {
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 700;
}

/* --- 旺铺产品介绍 ---*/
section:nth-child(even) {
    background-color: #ffffff;
}

section:nth-child(odd) {
    background-color: #f7f7f7;
}


.ay-product, .how-many-choose {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.ay-product p {
    font-weight: 500;
}

.desc {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.ay-product .banner-button {
    align-self: flex-start;
    margin-bottom: 4vw;
}

.product-info {
    cursor: pointer;
}

.ay-product .desc .right, .ay-product .desc .left {
    flex: 1;
}

.ay-product .desc .right {
    justify-content: space-between;
}

.ay-product .desc .right .dfzs {
    max-width: 600px;
    width: 90vw;
    margin: 5%;
}

.ay-product .left .desc-img, .ay-product .right .desc-img {
    max-width: 280px;
    width: 20vw;
    margin: 5% 0%;
}

.how-many-choose .bottom .desc-img {
    width: 100%;
}

/* --- 大屏幕 --- */
@media (min-width: 1200px) {
    .how-many-choose .desc .left .desc-img, .how-many-choose .desc .right .desc-img {
        height: 20vw;
        max-height: 300px;
    }
}

/* --- 平板电脑和小屏电脑之间的分辨率 --- */
@media (min-width: 768px) and (max-width: 1200px) {
    .banner {
        padding: 0 0;
    }

    .banner-first img, .banner-second img, .banner-third img {
        width: 300px;
    }

    .how-many-choose .desc .left .desc-img, .how-many-choose .desc .right .desc-img {
        height: 20vw;
        max-height: 300px;
    }
}

/* --- 横向放置的手机和竖向放置的平板之间的分辨率 --- */
@media (min-width: 481px) and (max-width: 767px) {
    .banner {
        height: 800px;
        padding-top: 90px;
    }

    .banner-desc {
        width: 90%;
    }

    .banner-first img, .banner-second img, .banner-third img {
        width: 500px;
    }

    .how-many-choose .desc .left .desc-img, .how-many-choose .desc .right .desc-img {
        height: 20vw;
        max-height: 300px;
    }
}

/* --- 横向放置的手机及分辨率更小的设备 --- */
@media (max-width: 480px) {
    .banner {
        padding: 90px 0 0 0;
        height: 550px;
    }

    .banner-desc {
        width: 90%;
    }

    .banner-desc span {
        zoom: 0.7;
    }

    .banner-first img, .banner-second img, .banner-third img {
        width: 90%;
    }

    .desc {
        flex-direction: column;
        align-items: center;
    }

    .ay-product .desc .right {
        flex-direction: column;
    }

    .ay-product .right .desc-img {
        width: 100%;
        margin-bottom: 10%;
        max-width: 100%;
    }

    .ay-product .desc .right .dfzs {
        width: 100%;
    }

    .how-many-choose .desc .left .desc-img, .how-many-choose .desc .right .desc-img {
        max-height: 300px;
    }

    .how-many-choose .bottom .desc-img {
        width: 100%;
    }
}
