.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.desc {
    padding: 50px 0;
    justify-content: space-around;
    max-height: 800px;
}

.desc img {
    height: 400px;
}

.desc span {
    letter-spacing: 1px;
    line-height: 2em;
    text-indent: 2em;
    width: 350px;
}

.card {
    position: relative;
    padding: 20px 2% 30px 2%;
    width: 90%;
    max-width: 1920px;
    margin: 2% auto;
    background-color: #153e82;
    color: #ffffff;
}

.card .color-block {
    position: absolute;
    left: 30px;
    top: 0;
    width: 100px;
    height: 10px;
    background-color: #ff9205;
}

.card .title {
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
}

.card .content {
    justify-content: space-between;
    align-items: flex-start;
}

.step {
    align-items: flex-start;
    margin-top: 1rem;
    min-width: 160px;
    /*max-width: 80%;*/
}

.step-1 .round, .step-2 .round {
    margin-top: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    font-size: 2rem;
}

.step-1, .step-2 {
    justify-content: flex-start;
    align-items: center;
}

.step-1 .round {
    background-color: #0fbeaf;
}

.step-2 .round {
    background-color: #ff8c23;
}

.step-1 .detail, .step-2 .detail {
    align-items: flex-start;
    margin-left: 3rem;
    max-width: 78%;
}

.detail h4 {
    color: #ffffff;
}

.step-2 {
    margin-top: 8rem;
}

.card .bottom {
    width: 100%;
    padding: 0 40px 0 0;
    margin-top: 10px;
    justify-content: space-between;
}

.registry-step {
    flex: 1;
    min-width: 160px;
}

.registry-step span {
    text-align: left;
    /*width: 60%;*/
    /*min-height: 80px;*/
}

@media screen and (max-width: 900px) {
    .card .content img {
        width: 100%;
    }

    .diff-card {
        flex-direction: column;
    }
}

@media screen and (min-width: 900px) {
    .step {
        width: 50%;
    }

    .card .content img {
        width: 20vw;
        max-width: 300px;
    }

    .card-max-width {
        max-width: 300px;
    }
}
